<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beatprogramming.github.com.teacker_tracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubjectActivity"
            android:label="@string/title_activity_subject"></activity>
        <activity
            android:name=".EditSubjectActivity"
            android:label="@string/title_activity_edit_subject"></activity>
        <activity
            android:name=".ModifySubjectActivity"
            android:label="@string/title_activity_modify_subject"></activity>
        <activity
            android:name=".ScoreActivity"
            android:label="@string/title_activity_score"></activity>
        <activity
            android:name=".AddScoreActivity"
            android:label="@string/title_activity_add_score"></activity>
        <activity
            android:name=".SubmitScoreActivity"
            android:label="@string/title_activity_submit_score"></activity>
        <activity
            android:name=".NewStudentsActivity"
            android:label="@string/title_activity_new_students"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.csv" />
            </intent-filter>
        </activity>
    </application>

</manifest>
